<table id="product-table", data-source="<%= products_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Quality</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>